/* CSS For Editor chat */

.chat-container {
    position: absolute;
    display: flex;
    flex-direction: column;

    bottom: 0;
    right: 5%;

    border-style: solid;
    border-radius: 5px;
    border-color: darkgrey;

    width: 300px;
    height: 300px;

    color: black;
    background-color: white;
}

.chat-bar {
    display: flex;
    flex-direction: row;
    
    height: 7%;
    background-color: lightgray;
}

.chat-bar > div {
    width: 80%;
}

.close-chat {
    background-color: hotpink;
    border-radius: 1px;
    border-style: solid;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 8px;
    text-transform: uppercase;
    width: 20%;
}

.chat-content {
    height: 73%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-input {
    display: flex;
    flex-direction: row;
    height: 20%;
    background-color: white;
}

.show-time{
    font-size: 8pt;
}

.show-name-msg{
    position: relative;
    bottom: 6px;
    word-wrap:break-word;
    word-wrap:hyphenate;
}

#message {
    width: 80%;
    border-style: solid;
    border-radius: 1px;
}

#discussion {
    padding-left: 5px;
}

textarea {
    resize: none;
}

#chat-bubble {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 40px;
}

/* Send button */
#sendmessage {
    background-color: hotpink;
    border-radius: 1px;
    border-style: solid;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1.8px;
    font-size: 11px;
    text-transform: uppercase;
    width: 20%;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: hotpink;
}

::-webkit-scrollbar-thumb{
    background-color: white;
}

::-webkit-scrollbar-button{
    background-color: lightgray;
}