/* CSS For Editor chat */

.chat-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 4px;
    border-color: lightgray;
    bottom: 2%;
    right: 1%;
    width: 300px;
    height: 300px;
    color: black;
    background-color: white;
}

.chat-bar {
    display: flex;
    flex-direction: row;
    height: 7%;
    background-color: lightgray;
}

.chat-bar > div {
    width: 90%;
}

.close-chat {
    background: url('/Content/Images/quit.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    outline: none;
    border-color: lightgray;
    border-style: none;
    width: 10%;
        position: relative;
    top: -1px;
    left: 6px;
    background-color: transparent;
}

.chat-content {
    height: 73%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-style: solid;
    border-color: lightgray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

    .chat-content::-webkit-scrollbar-button {
        display:none;
    }


.chat-input {
    display: flex;
    flex-direction: row;
    height: 20%;
    background-color: white;
}

.show-time{
    font-size: 8pt;
}

.show-name-msg{
    position: relative;
    bottom: 6px;
    word-wrap:break-word;
    word-wrap:hyphenate;
}

#message {
    width: 100%;
    border-style: solid;
    outline: none;
    border-style: solid;
    border-color: lightgray;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    max-width:100%;
}

#discussion {
    padding-left: 5px;
}

textarea {
    resize: none;
}

#chat-bubble {
    position: absolute;
    bottom: 2%;
    right: 1%;
    height: 40px;
    width: 40px;
}

/* Send button */


::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #dd0db0;
}

::-webkit-scrollbar-button{
    background-color: lightgray;
}